.ca-paper * {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.ca-card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.ca-title {
  padding-left: 1rem;
  margin: 1rem 0;
}

.ca-question {
  margin-bottom: 1rem;
}

.ca-choices {
  margin: .5rem 0;
}

.ca-choices-label {
  padding-left: .5rem;
}

.ca-btn {
  display: block;
  width: 100%;
  line-height: 2;
  color: #fff;
  background-color: #005CC8;
  border: none;
  border-radius: .25rem;
}